#input-secret {
    width: 80%;
    margin: auto;
}

#secret-validation-error {
  color: #EF4836;
  font-size: 0.6rem;
}

#secret-validation-loading {
  color: #F89406;
  font-size: 0.6rem;
}

@media all and (max-width: 750px) {
    #input-secret {
        width: 70%;
    }

    #secret-validation-error {
      color: #EF4836;
      font-size: 0.5rem;
    }


    #secret-validation-loading {
      color: #F89406;
      font-size: 0.6rem;
    }
}
